.style1 {
  width:100%;
  background:#f9f9f9;
  margin:1.2em 0 6px 0;
  border:1px solid #ddd;
}

figure.main {
  float: right;
  word-wrap: normal;
  padding: 6px;
}

.main1 {
  float: left;
  margin-right: 6px
}

.topbar {
  margin-top: 70px;
}

.wellgreen {
  background-color: #f5fffa;
  border-color: #cef2e0;
}

.wellgreenhead  {
  background-color: #cef2e0;
}

.wellblue {
  border-color: #a7d7f9;
  background-color: #f5faff;
}

.wellbluehead {
  background-color: #cedff2;
}

.right-tabs {
  float: right;
}
.sidebar {
  float: left;
  width: 20%;
}
